@font-face {
	font-family: "montserrat";
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "montserrat-bold";
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

body, html {
    font-family: 'montserrat' !important;
	overflow-x: hidden;
}

/* Bootstrap Changes */

.bg-primary {
	background: #002072 !important;
}

.btn-primary {
	color: #ffffff;
	background-color: #002072;
	border-color: #002072;
}

.text-primary {
	color: #002072 !important;
}

.vh-80 {
	height: 80vh;
}

.rounded-4-top {
	border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.input-group-text:hover {
	background: #6C757D !important;
}

.w-70 {
	width: 70% !important;
}

@media screen and (min-width: 576px) {
	.modal-dialog {
		/* margin-top: 65px; */
	}
}

/*  Owl Carousel changes  */

.owl-theme .owl-dots .owl-dot.active span {
	background: #002072 !important;
}

.owl-theme .owl-dots .owl-dot span {
	border: 2px solid #002072;
	width: 12px !important;
    height: 12px !important;
	background: #ffffff !important;
}

/* Header Part */

.wrapper {
	min-height: 100%;
	width: 100%;
}

.nav-wrapper {
	transition: .5s ease;
	transition-property: padding, top;
	padding: 1rem 0;
}

.fixed .nav-wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: #002072;
	padding: .5rem 0;
}

/* @media screen and (min-width: 980px) {
	.header-wrapper {
		min-height: 80px;
	}
} */
.custom-dropdown {

}

.custom-dropdown .dropdown-item {
	width: 30px;
	height: 35px;
	margin: 0 auto;
	padding: 6px 0;
	display: block;
}

.custom-dropdown.show {
	/* left: 30% !important; */
	min-width: 3rem;
}

.custom-dropdown .dropdown-item img {
	max-width: 100%;
}

.header-btn__group {
	align-items: center;
	gap: 23px;
}

.header-btn__group li a,
.header-btn__group li button {
	padding: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	background: transparent;
	border: none;
}

.header-btn__group li a.active {
	padding: 10px;
}

.nav-link_flag {
	width: 20px;
	height: 20px;
	display: block;
}

.nav-link_flag img {
	max-width: 100%;
}

@media screen and (max-width: 440px) {
	.header-btn__group li a {
		font-size: 10.5px;
	}
}

/* Swiper css */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
	position: relative;
}

.swiper-slide {
    text-align: center;
	font-size: 18px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.swiper-slide__img {
    background: url('../img/card-back.png') center / cover no-repeat;
	position: relative;
	z-index: 5;
}

.swiper-slide__img::after {
	content: '';
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

/* .swiper-slide-prev {
	display: none;
}
.swiper-slide-next {
	display: none;
} */

.slide-captions {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #FFF;
    z-index: 999;
    transform: translateY(-50%);
}
.slide-captions .current-title {
    margin: 0;
    font-size: 48px;
	word-break: break-word;
}
.slide-captions .current-subtitle {
    margin: 10px 0 0 0;
    font-size: 28px;
	word-break: break-word;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 50px;
}
.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide .swiper-slide__content {
	position: absolute;
	color: #ffffff;
	padding: 3em;
}

.swiper-title {
	text-transform: uppercase;
	font-family: "montserrat-bold";
	font-size: 150%;
}

.swiper-text {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 15px;
}

.slide-header img {
	height: 95vh;
}

.slide-header i {
	position: absolute;
	color: #ffffff;
	bottom: 5%;
	font-size: 25px;
}

.swiper-slide-active .swiper-slide__content {
    animation-name: example;
  	animation-duration: 4s;
}

.swiper-slide.image-slide {
	height: 80%;
}

.modal-open html {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.current-title {
		font-size: 28px !important;
	}
	.current-subtitle {
		font-size: 20px !important;
	}
}

/* Tour Container */

.container-titles {
	color: #002072;
	text-transform: uppercase;
}

.container-titles h2 {
	font-weight: bold;
}

.container-titles hr {
	color: #0085FF;
	opacity: 1;
	width: 25%;
	margin: 10px 0;
	height: 2px;
}

/*  Search Tour  */

.search-tour {
	background: url('../img/card-back.png') no-repeat center;
	background-size: cover;
}

.card-tour {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
	min-height: 200px;
	padding: 2rem;
	color: #ffffff;
}

.card-tour img {
	width: 70px;
	height: 75px;
	margin: 0 auto;
}

/* Wrapper Cards */

.wrapper-cards {
	display: grid;
	grid-template: [start] 245px [row-end] / 2fr 1fr 1fr;
	gap: 10px;
}

.wrapper-cards img {
	min-height: 100%;
	width: 100%;
	transition: all .5s;
}

.image {
	width: 100%;
    /* position: relative; */
    overflow: hidden;
}

.image__img {
    height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 1.1s;
}

.image .image__img:hover {
	transform: scale(1.2);
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay--scale {
	transform: scale(1.2);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

._rtl-content {
	direction: rtl;
}

._rtl-content * {
	direction: ltr;
}

.swiper-button-prev {
	left: auto !important;
}

.swiper-button-next {
	right: 0 !important;
}

@media screen and (max-width: 768px) {
	.wrapper-cards {
		grid-template: [start] 245px [row-2] 245px [row-end] 245px / 1fr;
		gap: 10px;
	}
	._rtl-content {
		margin-top: 10px;
	}
}

.card-content h4 {
	font-size: 18px;
	color: #002072;
	text-transform: uppercase;
}

.card-content p {
	font-size: 13px;
	color: #7B7B7B;
	text-transform: uppercase;
}

.vr {
	border-right: 1px solid #0085FF;
}

.rounded-input__icon {
	border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.rounded-input {
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-input::placeholder {
	font-size: 14px;
}

/* Footer section */

.footer-menu {
	list-style: none;
	padding: 0;
}

.footer-menu li {
	padding: .3rem 0;
}

.footer-menu li a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}

/* Tours Page */

.header-image {
	background: url('../img/image.png') no-repeat;
	background-size: cover;
}

.header-about {
	background: url('../img/about.png') no-repeat;
	background-size: cover;
}

.tour-titles p {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	color: #4B4B4B;
	border-bottom: 1px solid #002072;
}

.pagination-menu {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.pagination-menu .pag-link {
	padding: .4rem .8rem;
	color: #000000;
	text-decoration: none;
	font-size: 17px;
	margin: 0 3px;
}

.pagination-menu .pag-link.active {
	border: 1px solid #002072;
	border-radius: 50%;
}

.card-tour {
	width: 100%;
	border: 3px solid #ffffff !important;
	border-radius: 50% !important;
}

.card-body__tour {
	background: #fff;
    border-radius: 9px;
    position: relative;
    top: -9px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	word-break: break-all;
}

.card-body__title {
	flex: 0 0 80%;
}

a.card-body__title {
	flex: 0 0 20%;
}

.form-footer {
	text-align: center;
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ffffff;
	color: #ffffff !important;
	margin: 15px 0;
}

.form-footer::placeholder {
	color: #ffffff;
}

.form-footer:focus {
	background: transparent !important;
	box-shadow: none !important;
}

.container-modal {
	/* background: url('../img/modal-image.png') no-repeat;
	background-size: cover; */
	border: 4px solid #002072;
	border-radius: 15px;
}

.modal-image {
	border-radius: 15px;
	border: 4px solid #002072;
}

.modal-text-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-text-content h1 {
	color: #002072;
	text-transform: uppercase;
	font-weight: 900;
}

.modal-text-content h3 {
	color: #DDDDDD;
	text-transform: uppercase;
}

.modal-text-content p {
	font-size: 13px;
	/* line-height: 12px; */
}

/* Bootstrap changes */

.form-check {
	padding-left: 0;
}

.form-check .form-check-input {
	float: right;
	margin-right: 20px;
	padding: 8px;
}

.sidenav-filter {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 30px;
}

.sidenav-filter a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav-filter a:hover {
	color: #f1f1f1;
  }

.sidenav-filter .closebtn {
	cursor: pointer;
}

#filter {
	transition: width .5s;
	/* padding: 16px; */
	z-index: 1000;
}

.open-filter {
	display: none;
}

.icon-filter {
	font-size: 30px;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.side-filter {
		padding: .5rem !important;
	}
}

@media screen and (max-width: 991px) {
	.form-check .form-check-input {
		margin-right: 0;
	}
	.border-sm-end.vr {
		border-right: none;
	}
	.side-filter {
		display: none !important;
	}
	.open-filter {
		display: block;
	}
}

@media screen and (max-width: 414px){
	.pagination-menu .pag-link {
		font-size: 15px;
		padding: .2rem .5rem;
	}
	.header-btn__group {
		justify-content: center;
	}
	.container-title {
		font-size: 23px;
	}
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

@media screen and (max-width: 360px) {
	.container-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 575px) {
	.my-xs-1 {
		margin: .5rem 0;
	}
}

/* About us Page */

.about-us {
	background: url('../img/card-back.png') no-repeat;
	background-size: cover;
}

.skew-container {
	transform: skewY(3deg);
}

.skew-content {
	transform: skewY(-3deg);
}

.map {
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.nav-item {
	text-transform: uppercase;
	color: #D1D1D1;
	text-decoration: none;
}

.nav-item.active {
	border-bottom: 1px solid #002072;
	color: #002072;
}

._border-top-card {
	border: none;
	border-top: 2px solid #002072;
	border-radius: 0;
}
._border-bottom-card {
	border: none;
	border-bottom: 2px solid #002072;
	border-radius: 0;
}
#moreText {
	display: none;
}

.news-link:hover,
.news-link {
	color: #212529;
	text-decoration: none;
	border-bottom: 1px solid #212529;
	text-transform: uppercase;
}

/* Detail page */

.slide-detail {
	opacity: 0.5;
}

.slide-detail.swiper-slide-next {
	opacity: 1;
}

._detail-titles h1 {
	font-weight: 900;
	color: #000;
}

._detail-titles span {
	font-size: 25px;
	color: #000;
	text-transform: none;
}

.detail-container {
	background: #002687;
	padding: 1rem 0;
}

.detail-cards {
	background: url("../img/card-back.png") 50% / cover no-repeat;
}

.detail-info p {
	font-size: 12px;
}

.detail-info h6 {
	font-weight: 800;
	text-transform: uppercase;
}

.cards-detail__title {
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.cards-detail__title::before, .cards-detail__title::after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 30%;
	height: 2px;
	content: '\a0';
	background-color: #001C66;
	margin-left: 2%;
}

.cards-detail__title::before {
	margin-left: -32%;
	text-align: right;
}
