body {
    margin: 0;
    padding: 0;
    height: 200vh;
}
#header {
    width: 100%;
    height: 121px;
    background: url('../img/yurta.jpg');
}
#content {
    margin: 10px auto;
    width: 300px;
    min-height: 600px;
}
#header_placeholder {
    height: 121px;
    width: 100%;
    display: none;
}