{% extends 'layout/base.html' %}
{% load i18n %}
{% block content %}
    <main class="main-wrapper my-5">
        <section class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1 class="text-primary text-uppercase">
                        <b>{% trans 'О нас' %}</b>
                    </h1>
                    <p style="word-break: break-all">
                        {{ text.text }}
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card border-0">
                        <img src="{% if text.photo %}{{ text.photo.url }}{% endif %}" class="card-img-top rounded-0"
                             alt="grey-background">
                        <div class="card-body text-center">
                            {#                            <h5 class="card-title text-uppercase">#}
                            {#                                <b>Фамилия имя</b>#}
                            {#                            </h5>#}
                            {#                            <p class="card-text text-uppercase">Мини автобиография</p>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-us skew-container">
            <div class="container py-5 mt-5 skew-content">
                <p class="text-white" style="word-break: break-all">
                    {{ text2.text }}
                </p>
            </div>
        </section>
        <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.981826932207!2d69.18205251465702!3d41.28749997927348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae898235e5a0f5%3A0x11ccf020a1adfd4d!2zNDggRmFyaG9kIGtvJ2NoYXNpLCDQotC-0YjQutC10L3RgiAxMDAxMzksINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1636540499682!5m2!1sru!2s"
                    width="100%" height="500" style="border: 0"></iframe>
        </section>
    </main>
{% endblock %}