{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    <section>
        <div class="container mt-md-5">
            <div class="container-titles _detail-titles">
                <h1 class="container-title">{{ tour.global_title }}</h1>
                <hr class="container-line">
                <span class="container-subtitle">{{ tour.mini_title }}</span>
            </div>
        </div>
        {#            <div class="detail-container my-md-5">#}
        {#                <div class="detail-cards">#}
        {#                    <div class="container">#}
        {#                        <div class="swiper swiper-tour">#}
        {#                            <div class="swiper-wrapper">#}
        {#                                {% for image in tour.images.all %}#}
        {#                                    <div class="swiper-slide justify-content-center">#}
        {#                                        <div class="card-tour">#}
        {#                                            <img src="{{ image }}" alt="Businnes bag">#}
        {#                                            <span class="text-center">#}
        {##}
        {#                                    </span>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                {% endfor %}#}
        {#                            </div>#}
        {#                            <div class="swiper-button-next"></div>#}
        {#                            <div class="swiper-button-prev"></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
    </section>
    <br>
    <section class="container detail-info">
        {% for day in tour.days.all %}
            <div>
                <h6>{% translate 'День' %} {{ day.number }}</h6>
                <p>
                    {{ day.content|safe }}
                </p>
            </div>
        {% endfor %}
    </section>
    <section class="container">
        <div class="cards-detail__title">
            {% translate 'ГАЛЕРЕЯ' %}
        </div>
        <div class="row mt-3">
            {% for image in tour.images.all %}
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card border-0">
                        <img src="{{ image }}" class="card-img-top rounded-0" alt="Registan">
                        {#                            <div class="card-body p-2">#}
                        {#                                <h6 class="card-title text-uppercase text-center">#}
                        {#                                    <b>{{  }}</b>#}
                        {#                                </h6>#}
                        {#                            </div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container mt-3 float-right">
        <div class="col-md-12">
            <button class="btn btn-primary py-2  container-modal"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                {% translate 'Связаться с нами' %}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content container-modal">
                        <div class="row p-4">
                            <h1>{% translate 'Свяжитесь с нами' %}</h1>
                            <form method="post" action="{% url 'tour-detail' tour.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">{% translate 'Имя' %}</label>
                                        <input type="text" class="form-control"
                                               name="name" id="name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email">{% translate 'Ваш адресс электронной почты' %}</label>
                                        <input type="email" class="form-control"
                                               name="email" id="email" required>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <label for="description">{% translate 'Описание / Вопрос' %}</label>
                                        <textarea name="description"
                                                  cols="30"
                                                  rows="10" class="form-control"
                                                  id="description" required></textarea>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <!-- Button trigger modal   -->
                                        <button type="submit"
                                                class="btn btn-primary float-right">
                                            {% translate 'Отправить' %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block extra_js %}
    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock %}
</body>
</html>
