{% extends 'layout/base.html' %}
{% load poll_extras static i18n %}
{% block slider %}
    <section class="swiper-wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for slider in slider_objects %}
                    <div class="swiper-slide swiper-slide__img" data-title="{{ slider.title }}"
                         data-subtitle="{{ slider.content }}"
                         style="background: url({{ slider.image.url }}) no-repeat; background-size: cover; "></div>
                {% endfor %}
            </div>
            <div class="slide-captions container">
            </div>
        </div>
    </section>

{% endblock slider %}
{% block content %}

    <main class="main-wrapper my-md-5">
        <section class="container tour-container mt-md-5">
            <div class="container-titles">
                <h2 class="container-title">{% trans 'ПОПУЛЯРНЫЕ ТУРЫ' %}</h2>
                <hr class="container-line">
            </div>
            <div class="row owl-carousel owl-theme mt-lg-4">
                {% for tour in hot_tours %}
                    <div class="item">
                        <div class="card border-0 rounded-0">
                            <img src="{{ tour.face_image.url }}" class="card-img-top rounded-0" alt="card-image">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ tour.global_title }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>
                                        <i class="far fa-clock text-primary"></i>
                                        {{ tour.days.count }} {% trans 'дней' %} / {% minus tour.days.count 1 %} {% trans 'ночей' %}
                                    </span>
                                    <a href="{% url 'tour-detail' tour.id %}"
                                       class="btn btn-primary rounded-circle py-2">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="search-tour">
            <div class="container py-4">
                <div class="container-titles text-white">
                    <span class="container-subtitle">{% translate 'Поиск тура' %}</span>
                    <h2 class="container-title">{% trans 'ПО ТИПУ' %}</h2>
                    <hr class="container-line">
                </div>
                <div class="swiper swiper-tour">
                    <div class="swiper-wrapper">
                        {% for category in categories %}
                            <div class="swiper-slide justify-content-center">
                                <div class="card-tour">
                                    <a href="{% url 'tour-list' %}?category={{ category.id }}">
                                        <img src="{% if category.icon %}{{ category.icon.url }}{% endif %}"
                                             alt="Businnes bag">
                                        <span class="text-center text-white">
                                       {{ category.title }}
                                    </span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <div class="container-titles mt-5 mb-4">
                <h2 class="container-title">{% translate 'ДОСТОПРИМЕЧАТЕЛЬНОСТИ' %}</h2>
                <hr class="container-line">
            </div>
            <div class="row gap-lg-2 gap-md-2">
                <div class="wrapper-cards">
                    {% for sight_normal_form in sights_normal_form %}
                        <div class="image">
                            <div class="image__img"
                                 style="background: url('{{ sight_normal_form.image.url }}') center / cover no-repeat;"
                                 alt="Bricks"></div>
                        </div>

                    {% endfor %}
                    <!-- Modal -->

                </div>
                <div class="wrapper-cards _rtl-content">
                    {% for sight_not_normal_form in sights_not_normal_form %}
                        <div class="image">
                            <div class="image__img"
                                 style="background: url({{ sight_not_normal_form.image.url }}) center / cover no-repeat;"
                                 alt="Bricks"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <div class="container-titles mt-5 mb-4">
                <h2 class="container-title">{% translate 'ЛУЧШИЕ МЕСТА ДЛЯ ПРОЖИВАНИЯ' %}</h2>
                <hr class="container-line">
            </div>
            <div class="row gap-2">

                <div class="wrapper-cards">
                    {% for hotel in hotels %}
                        <div class="card border-0 rounded-0">
                            <img src="{{ hotel.image.url }}" alt="grey-background" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>

                <div class="wrapper-cards _rtl-content">
                    {% for hotel in hotels_not_normal %}
                        <div class="card border-0 rounded-0">
                            <img src="{{ hotel.image.url }}" alt="grey-background" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="container mt-5">
            <div class="container-titles pt-5">
                <h2 class="container-title">{% translate 'Наши преимущества !' %}</h2>
                <hr class="container-line">
            </div>
            <div class="row my-4">
                {% for why_us in why_us %}
                    <article class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="row align-items-center">
                            <div class="col-md-3 d-flex justify-content-center">
                                <img src="{{ why_us.logo.url }}" class="img-fluid rounded-circle"
                                     alt="grey-background">
                            </div>
                            <div class="col-md-8 card-content text-sm-center my-sm-2">
                                <h4>
                                    <b>{{ why_us.title }}</b>
                                </h4>
                                <p class="m-0">
                                    {{ why_us.content }}
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
        {#        <section class="bg-primary text-white">#}
        {#            <section class="container">#}
        {#                <form class="row py-3 align-items-center">#}
        {#                    <div class="col-lg-3 col-md-12 mb-lg-0 mb-md-3 mb-sm-3 my-xs-1 d-flex justify-content-between">#}
        {#                        <h3 class="m-0 text-center">#}
        {#                            Поиск <br> туров#}
        {#                        </h3>#}
        {#                        <div class="vr d-xl-block d-lg-none d-md-none"></div>#}
        {#                        <p class="m-0 py-2 d-xl-block d-lg-none d-md-none">#}
        {#                            Найти тур вашей <br> мечты сегодня!#}
        {#                        </p>#}
        {#                    </div>#}
        {#                    <div class="col-lg-3 col-md-12 d-flex mb-lg-0 mb-md-3 mb-sm-3 my-xs-1">#}
        {#                        <div class="input-group">#}
        {#                            <button class="btn btn-outline-secondary input-group-text border-0 bg-white rounded-input__icon">#}
        {#                                <i class="fas fa-search"></i>#}
        {#                            </button>#}
        {#                            <input type="text" class="form-control border-0 rounded-input" placeholder="ПОИСК ТУРА"#}
        {#                                   aria-label="Username" aria-describedby="basic-addon1">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="col-lg-3 col-md-12 d-flex mb-lg-0 mb-md-3 mb-sm-3 my-xs-1">#}
        {#                        <div class="input-group">#}
        {#                            <button href="#"#}
        {#                                    class="btn btn-outline-secondary input-group-text border-0 bg-white rounded-input__icon">#}
        {#                                @#}
        {#                            </button>#}
        {#                            <input type="text" class="form-control border-0 rounded-input" placeholder="КАТЕГОРИИ"#}
        {#                                   aria-label="Username" aria-describedby="basic-addon1">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="col-lg-3 col-md-12 d-flex mb-lg-0 mb-md-3 mb-sm-3 my-xs-1">#}
        {#                        <div class="input-group">#}
        {#                            <button href="#"#}
        {#                                    class="btn btn-outline-secondary input-group-text border-0 bg-white rounded-input__icon">#}
        {#                                <i class="far fa-calendar-alt"></i>#}
        {#                            </button>#}
        {#                            <input type="text" class="form-control border-0 rounded-input" placeholder="ДАТА"#}
        {#                                   aria-label="Username" aria-describedby="basic-addon1">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </form>#}
        {#            </section>#}
        {#        </section>#}
    </main>
{% endblock %}
