{% extends 'layout/base.html' %}
{% load i18n %}
{% block content %}
    <main class="main-wrapper my-5">
        <section class="container">
            <h2 class="text-uppercase text-primary">
                <b>{% translate 'Полезное' %}</b>
            </h2>
            <ul class="nav w-50 justify-content-between mt-3">
                {% for section in sections %}
                    <li>
                        <a href="{% url 'news' %}?section={{ section.id }}"
                           class="nav-item active">{{ section.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="row mt-4">
                {% for news in news %}
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card py-2 _border-top-card">
                            <img src="{% if news.image %}{{ news.image.url }}{% endif %}"
                                 class="card-img-top rounded-0">
                            <div class="card-body px-0">
                                <h5 class="card-title">
                                    {{ news.title }}
                                </h5>
                                <p class="card-text" style="font-size: 15px;">
                                    <span id="main-text-{{ news.id }}">
                                       {{ news.content|truncatechars:50 }}
                                    </span>

                                    <span style="display: none"  id="more-text-{{ news.id }}"> {{ news.content }}
                                    </span>
                                </p>
                                <div class="d-flex justify-content-between">
                                    <button class="btn p-0 text-body text-decoration-none"
                                            onclick="toggleText({{ news.id }})">
                                        <b>Еще</b>
                                    </button>
                                    <a href="#" class="text-body">
                                        <i class="fas fa-long-arrow-alt-right fs-5"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          <div class="row">
                        <nav class="pagination-menu">
                            <ul class="pagination">
                                {% for page in  page_obj.paginator.page_range %}
                                    <li class="pag-item">
                                        <a class="pag-link {% if page_obj.number == page %}active{% endif %}"
                                           href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
        </section>
    </main>
{% endblock %}
{% block extra_js %}
    <script>
        function toggleText(id) {
            const mainText = document.getElementById(`main-text-${id}`)
            const moreText = document.getElementById(`more-text-${id}`)
            console.log(mainText, moreText)
            mainText.textContent = ''
            mainText.textContent = moreText.textContent.toString()
        }
    </script>
{% endblock %}