{% extends 'layout/base.html' %}
{% load i18n %}
{% block content %}
    <main class="main-wrapper my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 px-lg-5 px-md-5 border-sm-end vr side-filter">
                    {#                    <div class="tour-categorie mb-4">#}
                    {#                        <div class="tour-titles">#}
                    {#                            <p>#}
                    {#                                <b>Новые туры</b>#}
                    {#                            </p>#}
                    {#                        </div>#}
                    {#                        <form> <!-- Тебе нужен здесь form ?-->#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                        </form>#}
                    {#                    </div>#}
                    {#                    <div class="tour-categorie mb-4">#}
                    {#                        <div class="tour-titles">#}
                    {#                            <p>#}
                    {#                                <b>Популярные</b>#}
                    {#                            </p>#}
                    {#                        </div>#}
                    {#                        <form> <!-- Тебе нужен здесь form -->#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                            <div class="form-check">#}
                    {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                    {#                                    бухару</label>#}
                    {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                    {#                            </div>#}
                    {#                        </form>#}
                    {#                    </div>#}
                    <div class="tour-categorie mb-4">
                        <div class="tour-titles">
                            <p>
                                <b>{% translate 'Найти тур' %} <br> {% translate 'вашей мечты !' %}</b>
                            </p>
                        </div>
                        <form> <!-- Тебе нужен здесь form -->
                            {#                            <div class="form-check">#}
                            {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                            {#                                    бухару</label>#}
                            {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                            {#                            </div>#}
                            {#                            <div class="form-check">#}
                            {#                                <label class="form-check-label text-secondary" for="exampleCheck1">Поход в#}
                            {#                                    бухару</label>#}
                            {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                            {#                            </div>#}
                            <div class="mt-4 text-center">
                                <input type="text" class="form-control" placeholder="{% translate 'Найти' %}"
                                       aria-label="Username"
                                       aria-describedby="basic-addon1" name="global_title"
                                       {% if search %}value="{{ search }}"{% endif %}>
                                <button class="btn btn-secondary border-0 mt-2" id="basic-addon1" type="submit">
                                    {% translate 'Поиск' %}
                                </button>
                                {% if search %}
                                    <a href="{% url 'tour-list' %}" class="btn btn-danger border-0 mt-2"
                                       id="basic-addon1" type="submit">
                                        Сбросить
                                    </a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12 px-lg-5 px-md-5 px-sm-0">
                    <div class="row">
                        {% for tour in tours %}
                            <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                                <div class="card border-0">
                                    <img src="{{ tour.face_image.url }}" class="card-img-top rounded-4-top"
                                         alt="yurta">
                                    <div class="card-body shadow card-body__tour">
                                        <div class="card-titles card-body__title">
                                            <h5 class="card-title m-0">
                                                <b>{{ tour.global_title }}</b>
                                            </h5>
                                            <span>{{ tour.mini_title }}</span>
                                        </div>
                                        <a class="btn btn-primary rounded-circle py-2 float-end"
                                           href="{% url 'tour-detail' tour.id %}">
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                        <span class="step-links">
                    <span class="current">
                        {% translate 'Страница' %} {{ page_obj.number }} {% translate 'из' %} {{ page_obj.paginator.num_pages }}.
                    </span>
                    </span>

                    </div>
                    <div class="row">
                        <nav class="pagination-menu">
                            <ul class="pagination">
                                {% for page in  page_obj.paginator.page_range %}
                                    <li class="pag-item">
                                        <a class="pag-link {% if page_obj.number == page %}active{% endif %}"
                                           href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block additional %}
    <div id="filter" class="sidenav-filter">
        <div class="col-lg-12 px-2">
            <h1 class="mb-4">
                {% trans 'Туры' %}
                <span class="float-end fs-3 closebtn">
                    <i class="fas fa-times" onclick="closeNav()"></i>
                </span>
            </h1>
            <div class="tour-categorie mb-4">
                <div class="tour-titles">
                    <p>
                        <b>{% trans 'Новые туры' %}</b>
                    </p>
                </div>
                <form> <!-- Тебе нужен здесь form ?-->
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </form>
            </div>
            <div class="tour-categorie mb-4">
                <div class="tour-titles">
                    <p>
                        <b>Популярные</b>
                    </p>
                </div>
                <form> <!-- Тебе нужен здесь form -->
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </form>
            </div>
            <div class="tour-categorie mb-4">
                <div class="tour-titles">
                    <p>
                        <b>Популярные</b>
                    </p>
                </div>
                <form> <!-- Тебе нужен здесь form -->
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-secondary" for="exampleCheck1">Поход в бухару</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <div class="input-group mt-4">
                        <button class="btn btn-secondary  border-0 rounded-input__icon" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="text" class="form-control rounded-input" placeholder="ПОИСК ТУРА"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
