{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <title>Samarkand Travel</title>
</head>
<body>
<div class="wrapper">
    <header class="header-wrapper bg-primary mb-5">
        <nav class="nav-wrapper">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-center">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <img src="{% static 'img/logo-2.png' %}" alt="logo" class="img-fluid w-70">
                    </a>
                    <ul class="nav nav-pills header-btn__group">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link active"
                               aria-current="page">{% translate 'Главная' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tour-list' %}" class="nav-link">{% translate 'Туры' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'news' %}" class="nav-link">{% translate 'Полезное' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about-us' %}" class="nav-link">{% translate 'О нас' %}</a>
                        </li>
                            <li class="nav-item">
                                <a href="{{ path_ru }}" class="nav-link nav-link_flag">
                                    <img src="{% static 'img/russia.svg' %}" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path_en }}" class="nav-link nav-link_flag">
                                    <img src="{% static 'img/united-states.svg' %}" alt="">
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block slider %}
        {% endblock %}
    </header>
    <main class="main-wrapper my-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-primary">
        <div class="container px-3 pt-4">
            <div class="row text-white">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 class="text-uppercase">
                        <b>{% trans 'О нас' %}</b>
                    </h4>
                    <ul class="list-unstyled text-uppercase">
                        {{ about_us_footer.text|linebreaks }}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 class="text-uppercase">
                        <b>{% trans 'Адресс' %}</b>
                    </h4>
                    <address>
                        {% trans 'Адресс 1' %}:
                        <br>
                        {% trans 'Фархадская 48' %}

                    </address>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <h4 class="text-uppercase">
                        <b>{% trans 'Страницы' %}</b>
                    </h4>
                    <ul class="footer-menu">
                        <li>
                            <a href="/">
                                {% trans 'HOME' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'tour-list' %}">
                                {% trans 'TOURS' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'news' %}">
                               {% trans 'NEWS' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about-us' %}">
                                {% trans 'О нас' %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="text-uppercase">
                        <b>{% trans 'Контакты' %}</b>
                    </h4>
                    <p>
                        {% trans 'PHONE:' %}
                        <a href="tel:+998992190547" class="text-white text-decoration-none">
                            +86 131 3292 2542
                        </a>
                    </p>
                    <p>
                        E-MAIL: infotravelmeuz@gmail.com
                    </p>
                    <p>
                       {% trans ' ON SOCIAL MEDIA' %}:
                        <br>
                        <a href="https://www.instagram.com/travelme.uz/" class="text-white text-decoration-none fs-5">
                            <i class="fab fa-instagram-square"></i>
                        </a>

                    </p>
                </div>
            </div>
            <div class="row text-white mt-3">
                <h5 class="text-center">It HUB</h5>
                <p class="text-center">
                  Copyright © 2021 IT Hub company. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</div>
{% block additional %}
{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
